.credits {
  & h2 {
    @apply .text-lg .text-brand-black .mb-16;

    @media (min-width: 768px) {
      @apply .mb-24;
    }
  }

  & .credits__name {
    @apply .text-brand-black .w-6/12;
  }

  & .credits__role {
    @apply .text-brand-gray-600 .text-left .w-6/12;
  }

  & ul {
    @apply .text-sm;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25rem 2rem;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  & ul li ul {
    @apply .flex .justify-between;
  }
}
