.grid.aside {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;
  }
}

.grid.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;

  & .rows-one {
    grid-row: span 1;
  }

  & .rows-two {
    grid-row: span 2;
  }

  & .cols-one,
  & .cols-two {
    grid-column: span 2;
  }

  @media (min-width: 640px) {
    & .rows-two {
      grid-row: span 2;
    }

    & .rows-one {
      grid-row: span 1;
    }

    & .cols-two {
      grid-column: span 2;
    }

    & .cols-one {
      grid-column: span 1;
    }
  }
}
