.sp__scrolling-wrapper {
  @apply .flex .flex-no-wrap .overflow-x-auto;
  -webkit-overflow-scrolling: touch;

  & .sp__project-card {
    @apply .overflow-hidden;
    height: 80px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & li {
    flex: 0 0 auto;
    width: 143px;

    &:last-of-type {
      /* Fixes bug where cards won't scroll to the end */
      width: 1px;
    }
  }
}
