.sp__scrolling-wrapper {
  @apply .overflow-x-auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 150px;
  grid-auto-flow: column;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 640px) {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & li {
    width: 150px;
  }

  @media (min-width: 640px) {
    & li {
      width: auto;
    }
  }

  & li:last-of-type {
    /* Fixes bug where cards won't scroll to the edge of the screen */
    @apply .w-2;
  }
}
