.md {
  @apply .mb-6;

  &:last-of-type {
    /* Remove bottom margin on the last item in a grid */
    @apply .mb-0;
  }

  @media (min-width: 768px) {
    @apply .mb-0;
  }

  & h2 {
    /* The Main Title */
    @apply .text-xl .font-semibold .mb-4 .leading-tight .text-brand-gray-800 .tracking-tight;

    @media (min-width: 1024px) {
      @apply .text-2xl .leading-relaxed;
    }
  }

  & h3 {
    /* Highlighted 'Intro' Copy */
    @apply .text-sm .text-brand-gray-800 .mt-6 .tracking-tight;

    + p {
      @apply .mt-8;
    }

    @media (min-width: 1024px) {
      @apply .text-lg .leading-relaxed;
    }
  }

  & h4 {
    /* Small Sub Headings */
    @apply .text-xxs .text-brand-gray-600 .tracking-normal .mb-3;

    @media (min-width: 1024px) {
      @apply .text-xs .leading-relaxed;
    }
  }

  & p {
    /* Primary Copy */
    @apply .text-xs .tracking-normal .text-brand-gray-800 .leading-relaxed;

    @media (min-width: 1024px) {
      @apply .text-sm .leading-relaxed;
    }

    & + p {
      @apply .mt-4;
    }

    & + h4 {
      @apply .mt-4;
    }
  }

  & ol {
    /* Not displayed at lists, but we force two columns */
    @apply .text-xs .tracking-normal .text-brand-gray-800;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 1024px) {
      @apply .text-base .leading-relaxed .text-sm;
    }
  }

  & a {
    @apply .font-bold .underline;
  }

  & a[target='_blank'] {
    text-decoration: underline;
  }
}
